<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Super CRUD</title>

  <!-- bootstrap css -->
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
  <div class="container text-center">
    <br>
    <h1>Reset Seed Data</h1>
    <br>
    <form action="/reset" method="POST">
      <input type="submit" value="Reset" class="btn btn-lg btn-primary">
    </form>
  </div>
  
  <!-- bootstrap js -->
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>