@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800);

body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h1 {
  font-weight: 400;
}
.navbar {
  margin-bottom: 0;
}
.navbar-brand {
  padding: 10px 15px;
}
.navbar-brand > img {
  display: inline-block;
}