<% include ../partials/header %>

  <div class="jumbotron">
    <div class="container text-center">
      <h1>Welcome to Super CRUD</h1>
      <br>
      <a href="https://github.com/sf-wdi-24/crud-api" class="btn btn-lg btn-default"><i class="fa fa-github"></i> View the Docs</a>
    </div>
  </div>

<% include ../partials/footer %>