<% include ../partials/header %>

  <div class="jumbotron">
    <div class="container text-center">
      <h1>Reset Seed Data</h1>
      <br>
      <form action="/reset" method="POST">
        <button class="btn btn-lg btn-default"><i class="fa fa-refresh"></i> Reset</button>
      </form>
    </div>
  </div>

<% include ../partials/footer %>